{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission %}
    <li>
      <a href="{% url opts|admin_urlname:'import' %}" class="import_link">
        {% blocktrans with opts.verbose_name as name %}Импорт {{ name }}{% endblocktrans %}
      </a>
    </li>
    <li>
      <a href="{% url opts|admin_urlname:'export' %}" class="export_link">
        {% blocktrans with opts.verbose_name as name %}Экспорт {{ name }}{% endblocktrans %}
      </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock %}